@model PhoneStoreSystem.Models.LocalPasswordModel

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<span class="createLink" style="width:120px;padding:0px;">@Html.ActionLink("返回上一页", "MyInfo")</span>
<br /><br />
<p>你目前使用 <strong>@Session["UserName"]</strong> 身份登录。</p>
  @using (Html.BeginForm("AlterPassword", "Admin"))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset  class="create_edit_div">
        <legend>修改密码</legend>
        <span style="color:red">@ViewBag.StatusMessage</span>

        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <p style="text-align:center;width:100%">
           <input type="submit" value="更改密码" class="btn" />&nbsp;&nbsp;&nbsp;
           <input type="reset" value="重 置" class="btn" />

        </p>
    </fieldset>
}



@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
   <script>
       jQuery(function ($) {
           $("#myInfo").addClass("selected");
           $("#main_container").fadeIn("slow");
       });

   </script>
}