@model PhoneStoreSystem.Models.Member


@{
    ViewBag.Title = "添加会员";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<span class="createLink" style="width:120px;padding:0px;">@Html.ActionLink("返回上一页", "Index")</span>

@using (Html.BeginForm("Create", "ProductMember", FormMethod.Post, new { enctype = "multipart/form-data", id = "formUpdateMain" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset  class="create_edit_div">
        <legend>会员信息</legend>
        <span style="color:red">@ViewBag.ErrorMessage</span>


        <div class="editor-label">
            @Html.LabelFor(model => model.MemberName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberName,"")
            @Html.ValidationMessageFor(model => model.MemberName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberPassword,"")
            @Html.ValidationMessageFor(model => model.MemberPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberRealName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberRealName)
            @Html.ValidationMessageFor(model => model.MemberRealName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberPhone)
            @Html.ValidationMessageFor(model => model.MemberPhone)
        </div>

        <div class="editor-field">    
            @Html.TextBoxFor(model => model.MemberPhoto, new { type="file", style="  border: 1px solid #eee;"})
            @Html.ValidationMessageFor(model => model.MemberPhoto)

            <input type="button" name="btnFileImage" value="上 传 " style=" font-size: 12px;padding:  5px 10px;" id="btnFileImage"  class="btn"/>
            <span id="uploadMesssge" style="color:red"></span>
            <br />
            <span style="color:blue;font-size:12px; line-height:16px;">*推荐图片比例1:1（300*300），支持的格式：（jpg/jpeg/png/gif）</span>
            <br />
            <!--如果页面中引用了img元素，而这个元素的src=“#”或src=“”，就会出现一个action执行两次的情况-->
            <img id="uploadImg" src="/Images/web/memberImg/@ViewBag.MemberImage" width="300" height="300" style="border:1px solid #dedede"/>
        </div>


        <p style="text-align:center;width:100%">
           <input type="submit" value="保 存" class="btn" />&nbsp;&nbsp;&nbsp;
           <input type="reset" value="重 置" class="btn" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/MyAjaxForm.js")
    
    <script>
        jQuery(function ($) {
            $("#proMember").addClass("selected");

            $("#main_container").fadeIn("slow");


            //异步实现图片上传
            $("#btnFileImage").click(function () {
                if ($("#ProImage").val() != "") {

                    //$("#load_div").fadeIn(0);
                    //$("#load_div").css({ "filter": "alpha(opacity:70)", "opacity": "0.7" });
                    var index = layer.load(2, { shade: [0.1, '#fff'] });

                    $("#formUpdateMain").ajaxSubmit({
                        url: '/ProductMember/FileImgUpload',
                        type: 'post',
                        success: function (imgData) {
                            if (imgData != "false") {
                                $("#uploadImg").attr("src", imgData);
                                $("#uploadMesssge").html("上传图片成功！");
                            } else {
                                $("#uploadMesssge").html("上传失败，文件格式不正确或文件超过2M限制！");
                            }
                            layer.close(index);
                        },
                        error: function (msg) {
                            console.log(msg);
                            $("#uploadMesssge").html("上传图片失败，请联系管理员！" + msg.statusText + "");
                            //$("#load_div").fadeOut(250);
                            layer.close(index);
                        }
                    });
                }
            });

        });

    </script>
}
