@model PhoneStoreSystem.Models.UserInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>UserInfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PassWord)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PassWord)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoleInfo.RoleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleInfo.RoleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RealName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RealName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserEmail)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
